<settings>
  <servers>
    <server>
      <id>central</id>
      <username>${env.CENTRAL_USER}</username>
      <password>${env.CENTRAL_PASS}</password>
    </server>
    <server>
      <id>arpnet</id>
      <passphrase>${env.GPG_PASS}</passphrase>
    </server>
    <server>
      <id>docker.io</id>
      <username>${env.DOCKER_USERNAME}</username>
      <password>${env.DOCKER_PASSWORD}</password>
    </server>
  </servers>
</settings>
